<div class="ui vertical pointing fluid menu">
  <!-- Accounts menu -->
  <div class="item">
    <!--New Button-->
    <button class="circular ui icon button" (click)="newTransaction()">
      <i class="icon plus"></i>
    </button>

    <button class="circular ui icon button">
      <i class="icon settings"></i>
    </button>

    <!--Show hidden Button -->
    <button class="circular ui icon button hidden-button">
      <i class="icon hide"></i>
    </button>
  </div>
</div>
