/*******************************
            Container
*******************************/

/* All Sizes */

.ui.container {
  display: block;
  max-width: 100% !important;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .ui.grid.container {
    width: auto !important;
  }

  .ui.relaxed.grid.container {
    width: auto !important;
  }

  .ui.very.relaxed.grid.container {
    width: auto !important;
  }
}

/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: 723px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 723px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 723px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 723px  +  5rem ) !important;
  }
}

/* Small Monitor */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ui.container {
    width: 933px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 933px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 933px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 933px  +  5rem ) !important;
  }
}

/* Large Monitor */

@media only screen and (min-width: 1200px) and (max-width: 1599px){
  .ui.container {
    width: 1127px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 1127px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1127px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1127px  +  5rem ) !important;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1799px){
  .ui.container {
    width: 1560px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 1560px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1560px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1560px  +  5rem ) !important;
  }
}

@media only screen and (min-width: 1800px) {
  .ui.container {
    width: 1760px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .ui.grid.container {
    width: calc( 1760px  +  2rem ) !important;
  }

  .ui.relaxed.grid.container {
    width: calc( 1760px  +  3rem ) !important;
  }

  .ui.very.relaxed.grid.container {
    width: calc( 1760px  +  5rem ) !important;
  }
}
