<div class="ui container">
  <br>
  <!-- Top menu -->
  <div class="ui secondary menu">
    <div class="header item">
      <a routerLink="/planning">MY HOME BANK</a>
    </div>
    <a class="item" routerLink="/dashboard"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Dashboard
    </a>
    <a class="item" routerLink="/planning" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Planning
    </a>
    <a class="item" routerLink="/accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Accounts
    </a>
    <a class="item" routerLink="/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Transactions
    </a>
    <a class="item" routerLink="/templates" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Templates
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui divider"></div>
  <br>

  <!-- content -->
  <router-outlet></router-outlet>
</div>
