<div>
  <div class="twelve wide column">
    <h4 class="ui inline">Transactions</h4>
    <div class="ui divider"></div>
    <table class="ui celled table borderless">
      <thead>
      <tr>
        <th colspan="8">
          <div class="ui small button" (click)="newTransaction()">
            Add transaction
          </div>
          <div class="ui small  disabled button">
            Approve All
          </div>
          <div class="ui right floated pagination menu">
            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </th>
      </tr>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Reserve</th>
        <th>Source</th>
        <th>Target</th>
        <th>Source Balance</th>
        <th>Target Balance</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactionsList">
        <td>
          {{ transaction.getType()}}
        </td>
        <td>
          {{transaction.Amount}} {{transaction.getCurrency()}}
        </td>
        <td>
          Reserve
        </td>
        <td>
          <a *ngIf="transaction.Source">{{transaction.Source.AccountName}}</a>
        </td>
        <td>
          <a *ngIf="transaction.Target">{{transaction.Target.AccountName}}</a>
        </td>
        <td>
          <a *ngIf="transaction.Source">{{transaction.Source.Amount}}</a>
        </td>
        <td>
          <a *ngIf="transaction.Target">{{transaction.Target.Amount}}</a>
        </td>
        <td>
          <div class="ui small button">
            Edit
          </div>
          <div class="ui small button">
            Remove
          </div>
        </td>
      </tr>

      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
<app-transaction-editor></app-transaction-editor>
