<div class="ui modal" #transactionEditorDialog>
  <i class="close icon"></i>
  <div class="header">
    Transaction
  </div>
  <div class="content">
    <form class="ui form">
      <h4 class="ui dividing header">Transaction Info</h4>
      <div class="fields">
        <!-- Title -->
        <div class="five wide field">
          <label>Title</label>
          <input tabindex="0" name="name" [(ngModel)]="transaction.Title">
        </div>

        <!-- Template -->
        <div class="five wide field">
          <label>Template</label>
          <select class="ui dropdown"
                  data-ng-options="currency.name for currency in currencies"
                  data-ng-model="account.Currency"
                  [disabled]="editMode"
                  name="TemplateID"
                  [(ngModel)]="transaction.TemplateID"
                  (ngModelChange)="templateChanged()">

            <option [value]="">No template</option>
            <option [value]="1">Template 1</option>
            <option [value]="2">Template 2</option>
          </select>
        </div>
        <div class="five wide field">
          <label>Date</label>
          <input type="datetime-local">
        </div>
      </div>
      <h4 class="ui dividing header">Accounts</h4>
      <div class="fields">
        <div class="five wide field">
          <label>Amount</label>
          <input tabindex="0" name="name" [(ngModel)]="transaction.Title">
        </div>
        <div class="five wide field">
          <label>Source</label>
          <select class="ui dropdown"
                  data-ng-options="currency.name for currency in currencies"
                  data-ng-model="account.Currency"
                  name="SourceID"
                  [(ngModel)]="transaction.SourceID"
                  (ngModelChange)="sourceChanged()">
            <option *ngFor="let account of accountList" [value]="account.ID">{{account.AccountName}} ({{account.Amount}})</option>
          </select>
        </div>
        <div class="five wide field">
          <label>Target</label>
          <select class="ui dropdown"
                  data-ng-options="currency.name for currency in currencies"
                  data-ng-model="account.Currency"
                  name="TargetID"
                  [(ngModel)]="transaction.TargetID"
                  (ngModelChange)="targetChanged()">

            <option *ngFor="let account of accountList" [value]="account.ID">{{account.AccountName}} ({{account.Amount}})</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div (click)="save()" class="ui positive right labeled icon button">
      Save Account
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
