<div class="ui form">
  <div class="field">
    <input type="text" name="first-name" placeholder="First name" value="{{account.AccountName}}">
  </div>
  <div class="field">
    <textarea placeholder="Some example text..."></textarea>
  </div>
</div>
