<div class="ui grid">
  <div class="three wide column">

    <h4>Accounts</h4>
    <div class="ui divider"></div>
    <app-accounts (onSelect)="selectAccount($event)"></app-accounts>

    <h4>Recent transactions</h4>
    <div class="ui divider"></div>
    <app-recent-transactions *ngIf="selectedAccount" [account]="selectedAccount"></app-recent-transactions>

  </div>
  <div class="twelve wide column">
    <h4>Planning</h4>
    <div class="ui divider"></div>
    <app-planning-view *ngIf="selectedAccount" [account]="selectedAccount"></app-planning-view>
  </div>
</div>
