<div class="ui modal" #accountEditorDialog>
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="content">
    <form class="ui form">
      <h4 class="ui dividing header">Account Information</h4>
      <div class="fields">

        <!--Account Name-->
        <div class="five wide field">
          <label>Account name</label>
          <input tabindex="0" name="name" [(ngModel)]="account.AccountName">
        </div>

        <!-- Currency -->
        <div class="five wide field">
          <label>Currency</label>
          <select data-ng-options="currency.name for currency in currencies" data-ng-model="account.Currency"
                  [disabled]="editMode" name="CurrencyID" [(ngModel)]="currencyCode"
                  (ngModelChange)="currencyCodeChanged()">
            <option *ngFor="let currency of currencies" [value]="currency.NumberCode">{{currency.Name}} <span>({{currency.Code}})</span>
            </option>
          </select>
        </div>

        <!--Initial balance-->
        <div class="three wide field">
          <label>Starter balance</label>
          <input [disabled]="editMode" type="number" name="starter_balance" [(ngModel)]="account.StarterBalance">
        </div>

        <!--Is Hidden-->
        <div class="three wide field">
          <label>Visible</label>
          <div class="ui checkbox">
            <label>Hide account</label>
            <input type="checkbox" name="Hidden" [checked]="account.Hidden"  [(ngModel)]="account.Hidden">
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div (click)="save()" class="ui positive right labeled icon button">
      Save Account
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
