<div>
  <div class="twelve wide column">
    <h4>Templates</h4>
    <div class="ui divider"></div>
    <table class="ui celled table">
      <thead>
      <tr>
        <th colspan="8">
          <div class="ui right floated pagination menu">
            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item">1</a>
            <a class="item">2</a>
            <a class="item">3</a>
            <a class="item">4</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </th>
      </tr>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Amount</th>
        <th>Source</th>
        <th>Target</th>
        <th>Source Balance</th>
        <th>Target Balance</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Payment
        </td>
        <td>
          $234
        </td>
        <td>
          Cell
        </td>
        <td>
          Cell
        </td>
        <td>
          Cell
        </td>
        <td>
          Cell
        </td>
        <td>
          Cell
        </td>
        <td>
          Cell
        </td>
      </tr>

      </tbody>
      <tfoot>
      </tfoot>
    </table>
  </div>
</div>
