<div class="ui vertical pointing fluid menu">
  <!-- Accounts menu -->
  <div class="item">
    <!--New Button-->
    <button class="circular ui icon button" (click)="addAccount()">
      <i class="icon plus"></i>
    </button>

    <button class="circular ui icon button">
      <i class="icon settings"></i>
    </button>

    <!--Show hidden Button -->
    <button class="circular ui icon button toggle hidden-button" (click)="toggleHidden()" [class.active]="showHidden">
      <i class="icon hide"></i>
    </button>
  </div>

  <a class="item account-row"
     *ngFor="let account of accounts"
     (click)="selectAccount(account);"
     [class.active]="selectedAccount.ID === account.ID">

    {{account.AccountName}}
    <div class="ui label">$ {{account.Amount}}</div>
    <a (click)="edit(account)">
      <i class="ui icon edit"></i>
    </a>
  </a>
</div>
<app-account-editor (saved)="onAdded($event)"></app-account-editor>

